html{
	background-color: #c2b280;
	color: 	#808080;
}

div.holder
{
	text-align: center;
	width:100%;
	height:100%;
}
div.holder img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

h2{
	color: #D3D3D3;
	text-shadow: 1px 1px 1px black;
	text-align: center;
}

form{
	text-align: center;
}

div.input{
	display:block;
	margin-top:1em;
}

div.hidden{
	display:none;
}

.red{
	color:red;
}

.green{
	color:green;
}
